<h1>New Watch List</h1>

<%= simple_form_for @list do |f| %>
  <%= f.input :name %>
  <%= f.input :photo, as: :file %>
  <%= f.submit "Create New List" %>

<% end %>

<p>
  <%= link_to "Back to All Lists", lists_path %>
</p>
